/* Navbar styling */
@media screen and (min-width: 881px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-navbar);
    border-bottom: 0.063rem solid #333333;
    height: 5rem;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .navbar-links {
    display: flex;
    gap: 1.25rem;
    flex: 1;
    align-items: center;
    margin-left: 5%;
  }

  .navbar-actions {
    display: flex;
    gap: 0.938rem;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
  }

  .menu-title {
    display: none;
  }

  .navbar button {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar-links a button {
    color: var(--color-texto);
    font-size: 1.125rem;
    padding: 0.438rem 0.813rem;
    border-radius: 0.188rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-navbar);
    border-bottom: 0.063rem solid #333333;
    height: 5rem;
  }

  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: var(--color-fondo-menu);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    height: 250px;
  }

  .navbar-links.open {
    display: flex;
  }

  .menu-title {
    color: white;
    font-size: 1rem;
    display: block;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }

  .navbar-actions {
    display: flex;
    gap: 0.938rem;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
  }

  .navbar-links a {
    width: 100%;
    margin: 0;
  }

  .navbar-links a button {
    color: var(--color-texto);
    font-size: 1rem;
    padding: 10px 0;
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid white;
    background: var(--color-fondo-menu);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0 !important;
  }

  .navbar-links :nth-child(2) button {
    padding-top: 0.8rem;
    border-top: 1px solid white;
  }

  .navbar-links :nth-child(3) button {
    padding-top: 0.8rem;
  }

  .navbar-links :nth-child(4) button {
    padding-top: 0.8rem;
  }

  .navbar-links :nth-child(5) button {
    padding-top: 0.8rem;
  }

  .navbar-links a button:hover {
    background-color: #1b1e20;
  }

  .navbar-actions button {
    color: var(--color-texto);
  }

  .menu-toggle {
    display: block;
    font-size: 1.875rem;
    color: var(--color-texto);
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5%;
  }

  .menu-toggle.open {
    color: #aaa;
  }

  .hamburger {
    width: 28px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-texto);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

}

/* Menu Overlay */
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

.menu-overlay.open {
  display: block;
}

.language-input {
  cursor: pointer;
  position: relative;
  right: 0.25rem;
}

/* Common styles for modal-like menus */
.language-options,
.theme-options {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-fondo-menu);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  height: 250px;
  z-index: 100;
  text-align: center;
}

.language-options.open,
.theme-options.open {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.language-options label,
.theme-option {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid white;
  height: 100%;
  transition: background-color 0.2s ease;
}

.language-options label:hover,
.theme-option:hover {
  background-color: #1b1e20;
}

.language-options img,
.theme-option img {
  width: 20px;
  margin-right: 10px;
}

.language-options input {
  margin-right: 10px;
  appearance: none;
  width: 11px;
  height: 11px;
  border: 1.5px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.language-options input:checked {
  background-color: white;
}

.language-select-container .idioma {
  margin-top: 3px;
  align-content: center;
}

.language-select-container .idioma img {
  width: 35px;
  height: 35px;
}

.navbar-links a button {
  color: var(--color-texto);
  transition: all 0.3s ease;
  border-radius: 0.313rem;
  padding: 0.625rem 0.938rem;
}

.navbar-links a button:hover {
  color: var(--color-texto);
  background-color: var(--color-navbar);
  -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


@keyframes shadow-pop-tl {
  0% { box-shadow: 0 0 var(--color-texto); }
  100% { box-shadow: -0.1rem -0.1rem var(--color-texto), -0.2rem -0.2rem var(--color-texto), -0.3rem -0.3rem var(--color-texto); }
}

.theme-options {
  background: var(--color-fondo-menu);
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  padding: 0.313rem;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18.75rem;
  height: 15.625rem;
  z-index: 100;
  text-align: center;
}

.theme-options.open {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.theme-select-container img {
  width: 2.188rem;
  height: 2.188rem;
  position: relative;
  left: 0.25rem;
  top: 0.063rem;
  cursor: pointer;
}

.theme-options img {
  cursor: pointer;
  margin: 0.313rem;
  width: 1.875rem;
  height: 1.875rem;
  left: 0.625rem;
  top: 0;
}

.theme-option {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  height: 100%;
  background-color: var(--color-fondo-menu);
}

.theme-options .theme-option {
  border-bottom: 0.063rem solid white;
}

.theme-options :nth-child(2) {
  border-top: 1px solid white;
}

.theme-options span {
  border-top: none !important;
}

.theme-title {
  color: white;
  font-size: 1rem;
  display: block;
  position: relative;
  border-bottom: 0.063rem solid white;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.theme-option:hover {
  cursor: pointer;
}

.color-circles {
  display: flex;
  position: relative;
  margin-left: 0.625rem;
}

.circle {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  position: relative;
  margin-left: -0.313rem;
  border: 0.063rem solid rgb(121, 121, 121);
}

.theme-options :nth-child(2):hover {
  background-color: #2e2e2e;
  transition: background-color 1s ease;
}

.theme-options :nth-child(3):hover {
  background-color: #2b5061;
  transition: background-color 1s ease;
}

.theme-options :nth-child(4):hover {
  background-color: #46422e;
  transition: background-color 1s ease;
}

.theme-options :nth-child(5):hover {
  background-color: #7e6358;
  transition: background-color 1s ease;
}

.theme-option img,
.theme-option span,
.color-circles {
  pointer-events: none;
}

.theme-title {
  color: white;
  font-size: 1rem;
}

.language-title {
  color: white;
  font-size: 1rem;
  display: block;
  position: relative;
  border-bottom: 0.063rem solid white;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.language-options :nth-child(2) {
  border-top: 1px solid white;
}


.language-options img {
  border-top: none !important;
}

.language-options label {
  padding-left: 10px;
}

.language-options :nth-child(2):hover {
  background-color: #1b1e20;
}

.language-options :nth-child(3):hover {
  background-color: #1b1e20;
}

.language-options :nth-child(4):hover {
  background-color: #1b1e20;
}

.language-options :nth-child(5):hover {
  background-color: #1b1e20;
}



.theme-input,
.language-input {
  /* Removed filter transition for GPU-bound performance issues */
}

.theme-input:hover,
.language-input:hover {
  /* Used transform which is generally cheaper than filter changes */
  transition: transform 0.2s ease-out;
  transform: scale(1.1);
}